apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
namePrefix: staging-

resources:
- ../../base

patchesStrategicMerge:
- staging_settings.yml
- replicas.yml

images:
- name: docker.io/javadza/environment-promotion
  newName: docker.io/javadza/environment-promotion
  newTag: 2022-06-20-def99cf
